*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

html, body{
    height : 100%;
    width : 100%;
}

:root{
    
    --bg-primary-color : #0c0c0c;
    --text-primary-color : #b9b9b9;
    --space-xs:4px;
    --space-sm:8px;
    --space-md:16px;
    --space-lg:24px;
    --space-xl:32px;
    --space-xxl:40px;
    --space-xxxl:48px;

    --border-primary-color : #333333;

    --border-radius-xs : 4px;
    --border-radius-sm : 8px;
    --border-radius-md : 16px;
    --border-radius-lg : 24px;
    --border-radius-xl : 20px;
    --border-radius-xxl : 24px;

}



html {
    background-color : var(--bg-primary-color);
    color : var(--text-primary-color);
    font-family : system-ui, sans-serif;
}

main, section{
    width : 100%;
    height : 100%;
}

section{
    padding : var(--space-xxl);
    display : flex;
    flex-direction : column;
    height : 100%;
    gap : var(--space-lg);
}
section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
 }

.info{
    padding : var(--space-sm) var(--space-md);
    border : 1px solid var(--border-primary-color);
    border-radius : var(--border-radius-sm);
}

.board{
    border : 1px solid var(--border-primary-color);
    flex-grow : 1;
    display : grid;
    grid-template-columns : repeat(auto-fill, minmax(30px, 1fr));
    grid-template-rows : repeat(auto-fill, minmax(30px, 1fr));
}

.block{
    width : 30px;
    height : 30px;
    border : 1px solid var(--border-primary-color);
}